* {
  box-sizing: border-box;
  margin: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(255, 224, 255);
}
.main_box {
  max-width: 928px;
  height: 641px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 36px;
  box-shadow: 0px 15px 60px 0px rgba(0, 0, 0, 0.25);
  gap: 64px;
  justify-content: space-evenly;
}
.left_box {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.right_box {
  padding-right: 64px;
}
.text_box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 64px;
}
.heading {
  color: var(--Dark-Navy, #242742);
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  color: #242742;
}
.un_text {
  color: var(--Dark-Navy, #242742);
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  width: 376px;
  color: #242742;
}
.check_Box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.textwith_img {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.input_box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: relative;
}
.bottom_box {
  padding-left: 64px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
label {
  color: var(--Dark-Navy, #242742);
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.btn_box {
  max-width: 376px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--Dark-Navy, #242742);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 4s;
}
.link {
  color: var(--White, #fff);
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-decoration: none;
}
.link:focus {
  color: var(--White, #fff);
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-decoration: none;
}
input {
  max-width: 376px;
  height: 56px;
  flex-shrink: 0;
  padding-left: 24px;
  border-radius: 5px;
}
.warning-text {
  display: none;
  position: absolute;
  left: 245px;
}
.input:focus {
  outline: none;
  background-color: #ff615526;
  border: 1px solid var(--Vermellion, #ff6155);
}
.input:focus + .warning-text {
  display: block;
  color: red;
}
input:focus::-webkit-input-placeholder {
  color: #ff6155;
}
.btn_box:hover {
  border-radius: 8px;
  background: var(
    --Gradient-1,
    linear-gradient(204deg, #ff6a3a 0%, #ff527b 100%)
  );
  box-shadow: 0px 16px 32px 0px rgba(255, 97, 85, 0.5);
}
.cutted {
  display: none;
}
@media (max-width: 376px) {
  body {
    display: block;
    background-color:#fff;
    max-width: 375px;
  }
  .main_box {
    max-width: 375px;
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 0px;
    box-shadow: 0px 15px 60px 0px rgba(0, 0, 0, 0.25);
    gap: 64px;
    justify-content: space-between;
    flex-direction: column-reverse;
    padding: 24px;
    height: 814px;
  }
  .main_img {
    display: none;
  }
  .cutted {
    display: block;
    width: 375px;
    height: 284px;
  }
  .left_box {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  .right_box {
    padding-right: 0px;
  }
  .text_box {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 16px;
  }
  .heading {
    color: var(--Dark-Navy, #242742);
    font-feature-settings: "liga" off, "clig" off;
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
  }
  .input {
    width: 327px;
    height: 56px;
    flex-shrink: 0;
  }
  .btn_box {
    width: 327px;
    height: 56px;
    flex-shrink: 0;
  }
  .un_text {
    color: var(--Dark-Navy, #242742);
    font-feature-settings: "liga" off, "clig" off;
    font-family: "Roboto" sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 327px;
  }
  .textwith_img {
    width: 290px;
  }
  .bottom_box {
    padding-left: 16px;
  }
}
