* {
  box-sizing: border-box;
  margin: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(255, 224, 255);
}
.main_box {
  width: 504px;
  height: 520px;
  flex-shrink: 0;
  border-radius: 36px;
  background: #fff;
  box-shadow: 0px 15px 60px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.heading {
  color: var(--Dark-Navy, #242742);
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Roboto" sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  width: 376px;
}
.un_text {
  color: var(--Dark-Navy, #242742);
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Roboto" sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  width: 376px;
}
img {
  width: 64px;
  height: 64px;
}
.text_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.img_box {
  width: 376px;
}
.btn_box {
  width: 376px;
  height: 56px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--Dark-Navy, #242742);
  display: flex;
  justify-content: center;
  align-items: center;
  transition:1s;
}
.link {
  color: var(--White, #fff);
  text-align: center;
  font-feature-settings: "liga" off, "clig" off;
  font-family: "roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-decoration: none;
}
.btn_box:hover {
  border-radius: 8px;
  background: var(
    --Gradient-1,
    linear-gradient(204deg, #ff6a3a 0%, #ff527b 100%)
  );
  box-shadow: 0px 16px 32px 0px rgba(255, 97, 85, 0.5);
  transition: 3s;
}
.mail {
  color: var(--Dark-Navy, #242742);
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Roboto" sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
