* {
  box-sizing: border-box;
  margin: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgb(255, 224, 255);
}
.main_box {
  width: 504px;
  height: 520px;
  flex-shrink: 0;
  border-radius: 36px;
  background: #fff;
  box-shadow: 0px 15px 60px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
.heading {
  color: var(--Dark-Navy, #242742);
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Roboto" sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  width: 376px;
}
.un_text {
  color: var(--Dark-Navy, #242742);
  font-feature-settings: "liga" off, "clig" off;
  font-family: "Roboto" sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  width:376px;
}
